### Introduction

---

<span style="float:right;">[[source]](https://github.com/malkoch/joatmon/blob/master/joatmon/ai/callback.py#L312)</span>

### ValidationLogger

```python
joatmon.ai.callback.ValidationLogger.joatmon.ai.callback.ValidationLogger(run_path, interval)
```

----

<span style="float:right;">[[source]](https://github.com/malkoch/joatmon/blob/master/joatmon/ai/callback.py#L325)</span>

### on_agent_begin

```python
ValidationLogger.on_agent_begin(self)
```

----

<span style="float:right;">[[source]](https://github.com/malkoch/joatmon/blob/master/joatmon/ai/callback.py#L329)</span>

### on_episode_begin

```python
ValidationLogger.on_episode_begin(self)
```

----

<span style="float:right;">[[source]](https://github.com/malkoch/joatmon/blob/master/joatmon/ai/callback.py#L332)</span>

### on_episode_end

```python
ValidationLogger.on_episode_end(self)
```

---
